.lnlinks {
    box-shadow: none !important;
}


.post-views {
    display: flex;
    align-items: center;
    gap: 2px;
    float: right;
}

.post-views > span {
    line-height: 16px;
    font-size: 16px;
}


.meta-item * {
    color: var(--secondary);
}
.meta-item:not(:last-of-type):after {
    content: "·";
    margin-inline-start: .5em;
    margin-inline-end: .5em;
}
.meta-item svg {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: -0.15em;
}
.meta-item a:hover {
    color: var(--primary);
    box-shadow: 0 1px 0 var(--secondary);
}
.meta-item .post-tags-meta a:not(:last-of-type) {
    margin-inline-end: .3em;
}
.meta-item .post-tags-meta a:not(:last-of-type):after {
    content: ",";
}
.meta-item .post-tags-meta a:before {
    content: "#";
}


:root {
    --zoom: 1;
}

html {
    zoom: var(--zoom);
}

.main {
    min-height: calc(100vh / var(--zoom) - var(--header-height) - var(--footer-height));
    min-height: calc(100dvh / var(--zoom) - var(--header-height) - var(--footer-height));
}

@media screen and (max-width: 768px) {
    :root {
        --zoom: 0.85;
    }
}

@media screen and (min-width:1350px) {
    .toc {
        position: fixed;
        top: 20dvh;
        max-height: 60dvh;
        z-index: 1;
        overflow: auto;
        right: calc(
            (100dvw - (var(--main-width) + var(--gap) * 2 /* main width */))
            / 2 /* right space width */ - 20dvw /* TOC width */ - 10px /* margin from main */
        );
        width: 20dvw;
        font-size: .8em;
    }
}
