.lnlinks {
    box-shadow: none !important;
}


.post-views {
    display: flex;
    align-items: center;
    gap: 2px;
    float: right;
}

.post-views > span {
    line-height: 16px;
    font-size: 16px;
}
